.place__title{
    color: white;
    font-weight: 900;
    margin: 0;
}
@media screen and (max-width: 768px){
    .place__title{
        width: calc(100%/(320/288));
        font-size: calc((100vw*5/224) + (174px/7));
        line-height: calc((100vw*11/448) + (190px/7));
        margin: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .place__title{
        width: calc((100vw*25/64) + 40px);
        font-size: calc((100vw*15/128) - 48px);
        line-height: calc((100vw*15/128) - 44px);
    }
}
@media screen and (min-width: 1024px){
    .place__title{
        width: calc((100vw*5/64) + 360px);
        max-width: 460px;
        font-size: 72px;
        line-height: 76px;
    }
}