.body{
    padding: 0;
    margin: 0;
    max-width: 1280px; /* Было сказано, что больше того, что в макете, растягиваться ничего не должно. Может я что-то не понял, потому что странно, что боди не должно растягиваться на полный открытый экран ноутбука. */
}