.body{
    background-color: #E5E5E5;
    padding: 0;
    margin: 0; /* Было сказано, что больше того, что в макете, растягиваться ничего не должно. Может я что-то не понял, потому что странно, что боди не должно растягиваться на полный открытый экран ноутбука. */
}