.places{
    margin: auto;
}
@media screen and (max-width: 425px){
    .places{
        width: calc((100vw*31/35) + (256px/7));
        padding-top: calc((100vw*3/56) + (328px/7));
        max-width: 100%;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .places{
        width: calc((100vw*25/28) + (240px/7));
        padding-top: calc((100vw*3/56) + (328px/7));
        max-width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .places{
        width: calc((100vw*13/16) + 96px);
        padding-top: calc((100vw/64) + 76px);
    }
}
@media screen and (min-width: 1024px){
    .places{
        width: calc((100vw*7/32) + 704px);
        max-width: 984px;
        padding-top: 92px;
    }
}