.cover__subtitle{
    position: relative;
    display: block;
    color: white;
    font-style: normal;
    text-align: center;
    margin: auto;
    z-index: 2;
}
@media screen and (max-width:768px){
    .cover__subtitle{
        width: calc((100vw*9/56) + (1656px/7));
        font-size: calc((100vw/112) + (78px/7));
        line-height: calc((100vw*3/224) + (82px/7));
    }
}
@media screen and (min-width:768px){
    .cover__subtitle{
        width: 360px;
        font-size: 18px;
        line-height: 22px;
    }
}