.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
}
@media screen and (max-width: 768px){
    .header{
        min-height: calc((100vw*5/224) + (244px/7));
        margin-left: calc((100vw/56) + (72px/7));
        margin-right: calc((100vw/56) + (72px/7));
        padding-top: calc((100vw*3/112) + (52px/7));
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .header{
        min-height: 52px;
        margin-left: calc((100vw*3/32) - 48px);
        margin-right: calc((100vw*3/32) - 48px);
        padding-top: 28px;
    }
}
@media screen and (min-width: 1024px){
    .header{
        min-height: 52px;
        margin-left: 48px;
        margin-right: 48px;
        padding-top: 28px;
    }
}