
@media screen and (max-width: 768px){
    .place__paragraphs{
        width: calc(100%/(320/288));
        margin: auto;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .place__paragraphs{
        width: calc((100vw*13/32) + 40px);
    }
}
@media screen and (min-width:1024px){
    .place__paragraphs{
        width: calc((100vw*7/64) + 344px);
        max-width: 484px;
    }
}