.footer__link{
    text-decoration: none;
    color: white;
    font-style: normal;
}
@media screen and (max-width:768px){
    .footer__link{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: calc(100vw/10);
    }
    .footer__link:last-of-type{
        margin-bottom: calc(100vw*0.15);
    }
}
@media screen and (min-width:768px){
    .footer__link{
        font-size: 16px;
        line-height: 18px;
        margin-right: 18px;
    }
}
.footer__link:hover{
    opacity: 0.8;
}
