@media screen and (max-width: 768px){
    .intro{
        width: calc((100vw*27/28) - (144px/7));
        margin-left: calc((100vw/56) + (72px/7));
        padding-top: calc((100vw*3/56) + (328px/7));
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .intro{
        width: calc((100vw*-15/128) + 810px);
        margin-left: calc((100vw*3/32) - 48px);
        padding-top: calc((100vw/64) + 76px);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .intro{
        width: 690px;
        margin-left: calc((100vw*25/64) - 352px);
        padding-top: 92px;
    }
}
@media screen and (min-width: 1280px){
    .intro{
        width: 690px;
        margin-left: 148px;
        padding-top: 92px;
    }
}