.lead__subtitle{
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
@media screen and (max-width: 768px){
    .lead__subtitle{
        font-size: calc((100vw/32) + 6px);
        width: calc((100vw*11/14) + (256px/7));
        margin-top: calc((100vw/28) + (32px/7));
    }
}
@media screen and (min-width: 768px){
    .lead__subtitle{
        font-size: 30px;
        width: 640px;
        margin-top: 32px;
    }
}