.cover__overlay{
    background: url(../../../images/cover-trains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    text-decoration: none;
    z-index: 0;
}
.cover__overlay::before{
    content: '';
    position: absolute;
    background: black;
    opacity: 0.3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.cover__overlay:hover::before{
    opacity: 0.8;
}
@media screen and (max-width: 1024px){
    .cover__overlay{
        height: calc((100vw - 16.8px)*0.625);
    }
}
@media screen and (min-width: 1024px){
    .cover__overlay{
        height: calc((100vw - 16.8px)*5/8*0.625 + (377px*0.625));
    }
}