.footer{
    display: flex;
    margin: 0;
    padding-bottom: 24px;
}
@media screen and (max-width:768px){
    .footer{
        width: calc(100vw*(186/320));
        margin-left: calc(100vw*0.05);
        margin-top: calc((100vw*3/56) + (328px/7));
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .footer{
        margin: auto;
        margin-top: calc((100vw/64) + 76px);
        width: calc((100vw*13/16) + 96px);
    }
}
@media screen and (min-width:1024px){
    .footer{
        margin: auto;
        margin-top: 92px;
        width: calc(100vw - 96px);
    }
}