.lead__group-f{
    position: absolute;
    left: calc(100%*0.02);
    right: auto;
    width: calc(100%*0.95);
}
@media screen and (max-width: 1280px){
    .lead__group-f{
        bottom: calc(100% + 100vw*0.2); 
    }
}
@media screen and (min-width: 1280px){
    .lead__group-f{
        bottom: calc(100% + 262px); 
    }
}