.intro__title{
    font-weight: 900;
    font-style: normal;
    color: white;
    margin: 0;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px){
    .intro__title{
        font-size: calc((100vw*11/224) + (114px/7));
        line-height: calc((100vw*23/448) + (130px/7));
    }
}
@media screen and (min-width: 768px){
    .intro__title{
        font-size: 54px;
        line-height: 58px;
    }
}